In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = {'Toy Story':[3.0,4.0,0.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,3.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0], 
        'Star Wars':[0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],
        'Drive':[3.0,2.0,3.0,5.0,4.0,3.0,2.0,3.0,5.0,4.0,3.0,2.0,0.0,5.0,5.0,3.0,2.0,4.0,5.0,0.0,3.0,2.0,0.0,5.0,0.0], 
        'Pulp Fiction':[2.0,3.0,5.0,4.0,0.0,0.0,3.0,0.0,4.0,0.0,0.0,3.0,5.0,4.0,0.0,0.0,3.0,5.0,4.0,0.0,0.0,3.0,5.0,4.0,0.0],
        'Money Ball':[4.0,2.0,3.0,5.0,5.0,4.0,2.0,3.0,4.0,5.0,4.0,4.0,3.0,4.0,5.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0,3.0,5.0,3.0]}

df = pd.DataFrame(data)
df

    Drive  Money Ball  Pulp Fiction  Star Wars  Toy Story
0     3.0         4.0           2.0        0.0        3.0
1     2.0         2.0           3.0        0.0        4.0
2     3.0         3.0           5.0        0.0        0.0
3     5.0         5.0           4.0        4.0        3.0
4     4.0         5.0           0.0        5.0        0.0
5     3.0         4.0           0.0        0.0        3.0
6     2.0         2.0           3.0        0.0        0.0
7     3.0         3.0           0.0        0.0        0.0
8     5.0         4.0           4.0        4.0        3.0
9     4.0         5.0           0.0        5.0        0.0
10    3.0         4.0           0.0        0.0        3.0
11    2.0         4.0           3.0        0.0        4.0
12    0.0         3.0           5.0        0.0        4.0
13    5.0         4.0           4.0        0.0        0.0
14    5.0         5.0           0.0        0.0        0.0
15    3.0         4.0           0.0        0.0        0.0
16    2.0         4.0           3.0        0.0        0.0
17    4.0         3.0           5.0        0.0        0.0
18    5.0         4.0           4.0        0.0        0.0
19    0.0         4.0           0.0        0.0        0.0
20    3.0         4.0           0.0        0.0        3.0
21    2.0         3.0           3.0        0.0        0.0
22    0.0         3.0           5.0        0.0        0.0
23    5.0         5.0           4.0        0.0        0.0
24    0.0         3.0           0.0        0.0        0.0

In [11]:
high_count = {}
for x in data.keys():
    high_count[x] = df[df[x]>3][x].count()

mdf = pd.DataFrame(high_count, index = ['Mean Rating'])
mdf

             Drive  Money Ball  Pulp Fiction  Star Wars  Toy Story
Mean Rating      9          16             9          4          3